#cart-element {
  stroke: cornflowerblue;
  fill: none;
  stroke-width: 2px;
  margin-left: 15px;
  margin-right: 15px;
  min-width: 0;
  min-height: 0;
  width: 20px;
  height: 20px;
}

#nameOfShaurmaAndAdditives {
  display: flex;
}

#map-content {
  display: flex;
  align-items: stretch;
}

#map {
  margin: auto;
  height: 580px;
  width: 680px;
}

#cart-name {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  fill: none;
  stroke-width: 2px;
  min-width: 0;
  min-height: 0;
  width: 20px;
  height: 20px;
}
#navigator-type {
  justify-content: start;
}

#shop-cart {
  display: flex;
  text-decoration: none;
  height: 30px;
  outline: none;
  box-shadow: none;
  margin-right: 100px;
}

#image-shaurma {
  min-width: 200px;
  max-height: 200px;
}

#modal-dialog {
  position: relative;
  display: flex;
  justify-content: center;
  pointer-events: none;
  max-width: unset;
  margin: unset;
  height: 100%;
}

#modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

#card-list {
  justify-content: center;
}

#option-elements {
  display: flex;
  justify-content: end;
  align-items: center;
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: auto;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  }

.info-of-shaurma {
  margin-top: 10px;
}

#info-panel {
  width: 70%;
}

#image-container {
  width: 30%;
}

#main-form {
  padding-top: 25px;
  padding-bottom: 25px;
}

.user-order {
  max-height: 250px;
  height: 160px;
}

#loginContainer{
  width: 700px;
}

#shaurma-info {
  padding-left: 60px;
}

#image-shaurma-in-order {
  max-height: 160px;
}

#trademark {
  text-align: center;
}

.add-in-the-cart {
  width: 100px;
  height: 40px;
}

.delete-from-the-cart {
  width: 100px;
  height: 40px;
}

.add-additive {
  height: 35px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

.shaurma-cards {
  min-width: 18rem;
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}
